{% extends 'master.html' %}
{% block content%}
  <div class="hero_area">
   
    <!-- slider section -->
    <section class=" slider_section ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="detail_box">
              <h1>
                Crop <br>
                Recommendation <br>
                System
              </h1>
              <p>
               Encouraging precision farming and crop diversification
              </p>
              <a href="{% url 'recommend-url'%}" class="">
                Get Recommendation
            </div>
          </div>
          <div class="col-lg-5 col-md-6 offset-lg-1">
            <div class="img_content">
              <div class="img_container">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="img-box">
                        <img src="../static/images/slider-1.jpg" alt="">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="img-box">
                        <img src="../static/images/slider-2.jpg" alt="">
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="img-box">
                        <img src="../static/images/slider-3.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="sr-only">Next</span>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Main Objectives
        </h2>
       
      </div>

      <div class="service_container">
        <div class="box">
          <div class="img-box">
            <img src="../static/images/obj1.jpg" class="img1" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Encourage Diversification of Crop Farming
            </h5>
            <p>
              Encouraging crop diversification is essential for fostering agricultural sustainability and resilience.
               By promoting a broader range of crops, farmers can reduce their dependency on a single crop, mitigating
                the risks associated with pests, diseases, and adverse weather conditions. Diversification also enhances 
                soil health, reduces nutrient depletion, and promotes biodiversity, contributing to long-term agricultural 
                productivity and environmental conservation.
            </p>
          </div>
        </div>
        <div class="box active">
          <div class="img-box">
            <img src="../static/images/obj2.jpg" class="img1" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Educate Farmers on Best Farming Practices
            </h5>
            <p>
              Educating farmers on best farming practices is crucial for maximizing agricultural productivity 
              while minimizing environmental impact. By disseminating knowledge on soil health management, water 
              conservation techniques, integrated pest management, and sustainable crop rotation, farmers can 
              improve yields, reduce input costs, and mitigate the negative effects of farming on ecosystems. 
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="../static/images/obj3.png" class="img1" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Maximizing output and minimize input
            </h5>
            <p>
              Maximizing output while minimizing input is a fundamental goal in sustainable agriculture, 
              aiming to enhance productivity and efficiency while reducing resource use and environmental impact.
               Achieving this balance involves adopting innovative farming techniques such as precision agriculture, 
               which utilizes technology to optimize inputs such as water, fertilizers, and pesticides, resulting in
                higher yields with lower resource requirements. 
            </p>
          </div>
        </div>
       
      <!-- <div class="btn-box">
        <a href="{% url 'blog-url' %}">
          Read More
        </a>
      </div>
    </div> -->
  </section>
  <!-- end service section -->

 




  <!-- blog section -->

  <!-- <section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Learn More
        </h2>
        
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="../static/images/blog1.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Blog Title Goes Here
              </h5>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="../static/images/blog2.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Blog Title Goes Here
              </h5>
              <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end blog section -->



 



  {%endblock%}

  